@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 700;
    font-style: normal;
  }


.truncated-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5; 
}


  

@media (max-width: 480px) {
    .logo {
        width: 180px;
    }
  }
  

