.btn {
  
    padding: 14px 18px;
    font-size: 1rem;
    min-width: 180px;
    text-align: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    display: inline-block;
    transition: box-shadow 0.2s;
    cursor: pointer;
  }
   .btn-width {
    min-width: 180px;
   }

  .btn-round {
    border-radius: 0 20px;
  }
  .btn:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .baby-pink {
    background-color: #ffb7ce!important;
  }
  

  @media (max-width: 480px) {
    .btn {
      font-size: 12px;
    }
    
  }