.tool{
    min-width: 140px!important;
    background-color: #232121e1!important;
    border-radius: 10px !important;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    transform: capitalize !important;
}