@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bgc : 255,0,213
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(247, 247, 247);
  font-family: 'Poppins'!important;

}


.page-content {
  margin-left: 2rem;
  padding: 3rem;
}

.bgc {
  background-color: var(--bgc);
}


.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #efefef; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ff007b; 
  border-radius: 5px; 

}

/* You can also style other scrollbar properties like track, corner, etc. */


@media screen and (max-width:768px) {
  .sbwd {
    width: 2.5rem;
  }
  .page-content {
    padding: 1rem;
  }
}


